# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [24]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [25]:
city_df = pd.read_csv("city_data.csv")

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [26]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [27]:
coords = city_df[["Latitude","Longitude"]]
humidity = city_df["Humidity"]

In [28]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(coords, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

In [29]:
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [30]:
city_df = city_df.dropna()
hotels_df = city_df[ (city_df["Humidity"]<65) &
                        (city_df["Temperature"]>65) &
                        (city_df["Temperature"]<75) &
                        (city_df["Cloudiness"]<70) &
                        (city_df["Wind Speed"]<10)]
len(hotels_df)
hotels_df["Hotel Name"] = ""
hotels_df.head()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
41,41,Cape Town,-33.93,18.42,71.60,53,0,6.93,1584389240,
51,51,Kotri,25.37,68.31,69.89,26,28,3.09,1584389242,
141,141,Kharan,28.58,65.42,67.91,24,0,9.51,1584389259,
192,192,Yulara,-25.24,130.99,73.40,16,0,6.93,1584389269,
201,201,Riyadh,24.69,46.72,69.80,37,0,4.70,1584389108,

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [31]:
# geocoordinates
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

In [32]:
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [33]:
for index, row in hotels_df.iterrows():
    params["location"] = f'{row["Latitude"]},{row["Longitude"]}'
    try: 
        response = requests.get(base_url, params=params)
        data = response.json()
        hotels_df.loc[index,8] = data["results"][0]["name"]
    except:
        print(f"No hotel found for search query: {row['City']}")
        pass

No hotel found for search query: Waddān
No hotel found for search query: Biltine
No hotel found for search query: Durango

In [34]:
hotel_df.head(15)

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Date,Hotel Name,8
41,41,Cape Town,-33.93,18.42,71.60,53,0,6.93,1584389240,,AC Hotel by Marriott Cape Town Waterfront
51,51,Kotri,25.37,68.31,69.89,26,28,3.09,1584389242,,Indus Hotel
141,141,Kharan,28.58,65.42,67.91,24,0,9.51,1584389259,,Balochistan Hotel & Rest
192,192,Yulara,-25.24,130.99,73.40,16,0,6.93,1584389269,,Sails in the Desert
201,201,Riyadh,24.69,46.72,69.80,37,0,4.70,1584389108,,Hyatt Regency Riyadh Olaya
215,215,Umluj,25.02,37.27,73.31,42,0,6.49,1584389273,,عروس الشاطئ للوحدات السكنية المفروشة
216,216,Waddān,29.16,16.14,65.57,46,0,6.38,1584389273,,NaN
235,235,Moa,20.66,-74.94,74.21,64,0,7.63,1584389276,,Miraflores
251,251,Satwās,22.53,76.68,70.07,20,16,8.03,1584389279,,Hotel Manju Shree Satwas
254,254,Tabas,33.60,56.92,66.20,52,0,4.70,1584389107,,Amir hotel
305,305,Ishigaki,24.34,124.16,67.37,52,15,7.43,1584389288,,Fusaki Beach Resort Hotel & Villas
338,338,Tura,25.52,90.22,65.75,40,67,1.88,1584389294,,Hotel Polo Orchid
411,411,Hūn,29.13,15.95,65.57,46,0,6.38,1584389310,,Al Nakhel Hotel
423,423,Biltine,14.53,20.92,73.85,15,0,5.70,1584389311,,NaN
427,427,Alirajpur,22.30,74.35,70.07,19,27,8.55,1584389312,,Shri Charbhuja Palace

In [36]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Country'

In [ ]:
# Add marker layer ontop of heat map


# Display Map